@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #22065e;
  border: 2px solid #b96eee;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
}
nav li {
  margin: 0 10px;
}
nav li a {
  display: block;
  color: #b96eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  background-image: linear-gradient( black, purple, magenta); 
}
p{
  color: white;
}
nav li:hover {
  background-color: #13484b;
  border : 1px solid #299ba1;
}
nav li a:hover {
  color: #299ba1;
}
h1{
  color: #fff;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: Copperplate;
}
.container {
  overflow: auto;
}
#aboutme{
  background-color: #13484b;
  padding: 20px;
  border : 2px solid #299ba1;
  color: white;
  float: left;
  width: 40%;
  height: 150px;
  margin-left: 5%;
  margin-bottom: 5%;
  overflow: hidden;
}
#aboutme h2{
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  color: white;
}
video{
  display: block;
  margin: 0 auto;
}
img{
  display: block;
  margin: 0 auto;
}
#obs{
  background-color: #250528;
  color: #ffffff;
  border : 2px solid #8b00ff;
  float: right;
  width: 40%;
  height: 190px;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-left: 20px;
  overflow: hidden;
}
#obs h4{
  font-size: 20px;
}
#dogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4c003f;
  border: 2px solid #a31eac;
}
#dogs h4{
  color: white;
}
.dogs-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-image: linear-gradient(180deg, #a31eac , black);
}
.dogs-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.dogs-media video{
  width: 30%;
  margin: 10px;
}
.dogs-media img {
  width: 30%;
  margin: 10px;
}
img:hover{
  border: 2px solid #a31eac;
  box-shadow: 0 0 20px #a31eac;
}
video:hover{
  border: 2px solid #a31eac;
  box-shadow: 0 0 20px #a31eac;
}
#name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
#resume{
  width: 1000px;
  margin: 0 auto;
  background-color: #FFF5EE;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 0%;
}
#resume section{
  border-bottom: 1px solid #456064;
}
#resume p{
  color: #a56699;
  font-weight: bold;
  font-style: italic;
}
.date{
  color: rgb(95, 68, 68);
  text-align: right;
  display: inline-block;
  float: right;
}
h2{
  color: #9F2B68;
}
h3{
  color: #5f3d5f;
  text-align: left;
  display: inline-block;
}
#contact{
  background-color: #d7bd7b;
  width: 650px;
  padding: 25px;
  text-align: center;
  margin: auto;
  border: 2px solid #d4c589;
  box-shadow: 0 0 20px #d7bd7b;
  border-radius: 350px;
  color: #fdf3c7;
}
#contact img{
  border-radius: 400px;
  box-shadow: 0 0 20px #fdf3c7;
}
#contact a{
  border-bottom: 2px dotted magenta;
  text-decoration: none;
  color: #ff69b4;
  font-weight: bold;
}
.icons {
  width: 60px;
  height: 60px;
}
/*media query for smartphone*/
@media(max-width: 480px) {
  .dogs-media {
    flex-direction: column;
    align-items: center;
  }
  #dogs h4{
    display: none !important;
  }
  #aboutme {
    width: 100%;
  }
  #obs {
    width: 100%;
  }
}
/*media query for tablet*/
@media(max-width: 768px) {
  .dogs-media {
    flex-direction: column;
    align-items: center;
  }
  #dogs h4{
    display: none !important;
  }
  #aboutme {
    width: 100%;
  }
  #obs {
    width: 100%;
  }
}
#mapplace{
  height: 400px;
  width: 100%;
}